
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Hydrogen &mdash; A free HTML5 Template by FREEHTML5.CO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico"/>

	<!-- Google Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>


	<link th:href="@{/css/animate.css}" rel="stylesheet"/>
	<link th:href="@{/css/icomoon.css}" rel="stylesheet"/>
	<link th:href="@{/css/magnific-popup.css}" rel="stylesheet"/>
	<link th:href="@{/css/salvattore.css}" rel="stylesheet"/>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>

	<script th:src="@{js/modernizr-2.6.2.min.js}"></script>
	<script th:src="@{js/respond.min.js}"></script>

	<style>
		#hearts { color: #ee8b2d;}
#hearts-existing { color: #ee8b2d;}
	</style>

</head>
	<body>
		
	<div id="fh5co-offcanvass">
		<a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
		<h1 class="fh5co-logo"><a class="navbar-brand" href="index.html">Hydrogen</a></h1>
		<ul>
			<li class="active"><a href="/wall">Home</a></li>
			<li><a href="/myprofile">Perfil</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<h3 class="fh5co-lead">Connect with us</h3>
		<p class="fh5co-social-icons">
			<a href="#"><i class="icon-twitter"></i></a>
			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-instagram"></i></a>
			<a href="#"><i class="icon-dribbble"></i></a>
			<a href="#"><i class="icon-youtube"></i></a>
		</p>
	</div>
	<header id="fh5co-header" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
					<a class="navbar-brand" href="index.html">Hydrogen</a>
				</div>
			</div>
		</div>
	</header>
	<!-- END .header -->

	<div class="container">
		<div class="form-group col-xs-12">
			<label class="col-xs-2 col-form-label">Descripción</label>
			<div class="col-xs-10">
				<textarea class="form-control" rows="5" id="comment"></textarea>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Comer</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Beber</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Fiesta</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Dormir</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Trabajar</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Sinceridad</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Honradeza</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Deportes</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Cine</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Series</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Dibujos</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
		<div class="form-group  col-xs-4">
			<label  class="col-xs-4 col-form-label">Espiritualidad</label>
			<div class="col-xs-8">
				<div  class="starrr" ></div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer">
		
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a href="#"><i class="icon-instagram"></i></a>
						<a href="#"><i class="icon-dribbble"></i></a>
						<a href="#"><i class="icon-youtube"></i></a>
					</p>
					<p><small>&copy; Hydrogen Free HTML5 Template. All Rights Reserved. <br/>Designed by: <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> | Images by: <a href="http://pexels.com" target="_blank">Pexels</a> </small></p>
				</div>
			</div>
		</div>
	</footer>

	<script th:src="@{js/jquery.min.js}"></script>
	<script th:src="@{js/jquery.easing.1.3.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/jquery.waypoints.min.js}"></script>
	<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{js/salvattore.min.js}"></script>
	<script th:src="@{js/main.js}"></script>
	<script th:src="@{js/chart.js}"></script>

	<script th:inline="javascript">
            //<![CDATA[
// Starrr plugin (https://github.com/dobtco/starrr)
var __slice = [].slice;

(function($, window) {
  var Starrr;

  Starrr = (function() {
    Starrr.prototype.defaults = {
      rating: void 0,
      numStars: 10,
      change: function(e, value) {}
    };

    function Starrr($el, options) {
      var i, _, _ref,
        _this = this;

      this.options = $.extend({}, this.defaults, options);
      this.$el = $el;
      _ref = this.defaults;
      for (i in _ref) {
        _ = _ref[i];
        if (this.$el.data(i) != null) {
          this.options[i] = this.$el.data(i);
        }
      }
      this.createStars();
      this.syncRating();
      this.$el.on('mouseover.starrr', 'span', function(e) {
        return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('mouseout.starrr', function() {
        return _this.syncRating();
      });
      this.$el.on('click.starrr', 'span', function(e) {
        return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
      });
      this.$el.on('starrr:change', this.options.change);
    }

    Starrr.prototype.createStars = function() {
      var _i, _ref, _results;

      _results = [];
      for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
        _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
      }
      return _results;
    };

    Starrr.prototype.setRating = function(rating) {
      if (this.options.rating === rating) {
        rating = void 0;
      }
      this.options.rating = rating;
      this.syncRating();
      return this.$el.trigger('starrr:change', rating);
    };

    Starrr.prototype.syncRating = function(rating) {
      var i, _i, _j, _ref;

      rating || (rating = this.options.rating);
      if (rating) {
        for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
        }
      }
      if (rating && rating < 5) {
        for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
          this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
        }
      }
      if (!rating) {
        return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
      }
    };

    return Starrr;

  })();
  return $.fn.extend({
    starrr: function() {
      var args, option;

      option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
      return this.each(function() {
        var data;

        data = $(this).data('star-rating');
        if (!data) {
          $(this).data('star-rating', (data = new Starrr($(this), option)));
        }
        if (typeof option === 'string') {
          return data[option].apply(data, args);
        }
      });
    }
  });
})(window.jQuery, window);

$(function() {
  return $(".starrr").starrr();
});

$( document ).ready(function() {

  $('#hearts').on('starrr:change', function(e, value){
    $('#count').html(value);
  });
});
//]]> 
</script>
	</body>
</html>
